<!DOCTYPE html>
<html>
  <head>
    <title>Cantas</title>
    <meta property="qc:admins" content="73142662064136301625146375747716" />
    <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
    <link href="/images/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="/stylesheets/eso-theme.css">
    <link rel="stylesheet" href="/stylesheets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/project.min.css">
  </head>
  <body onload="init()">
    <section class="login">
      <div class="login-input card">
        <header><img src="/images/cantas-login.png" class="login-header">
        </header>
        <form action="/login" method="POST">
          <input type="text" name="username" id="username-login" placeholder="Email" tabindex="1" a  utocomplete="off" autocorrect="off" spellcheck="false" autocapitalize="off" autofocus="">
          <input type="password" placeholder="Password" name="password" id="password-login" tabindex="2">
          <button type="submit" tabindex="3" class="btn btn-inverse login-button">Log In</button><a id="loginWithGoogle" href="/auth/qq">&nbsp;&nbsp;&nbsp;<i class="fa fa-qq fa-lg"></i></a>
        </form>
      </div>
      {% if  message %}<p>{{message}}</p>{% end %}
    </section>
    <div id="browser-version-alert" class="force-alert hide fade">
      <div class="alert-content">
        <p>Your browser<span id="currentVersion"></span> is too low to run Cantas stably. We recommend Chrome 10+, FireFox 10+, Safari 6+ etc.
        </p><a href="/standalonehelp#browserSupportMatrix">Browser Support Matrix</a>
      </div>
    </div>
    <script type="text/javascript">function init(){
  var browserVersionInfo = {
    msie: false, firefox: false, opera: false, safari: false,
    name: 'unknown', version: 0
  },
  userAgent = window.navigator.userAgent.toLowerCase();
  if(/(msie|firefox|opera|chrome)\D+(\d[\d.]*)/.test(userAgent)) {
    browserVersionInfo[RegExp.$1] = true;
    browserVersionInfo.name = RegExp.$1;
    browserVersionInfo.version = RegExp.$2;
  }
  else if(/version\D+(\d[\d.]*).*safari/.test(userAgent)) {
    browserVersionInfo.safari = true;
    browserVersionInfo.name = 'safari';
    browserVersionInfo.version = RegExp.$1;
  }

  var browserName = browserVersionInfo.name;
  var version = browserVersionInfo.version;
  var majorVersion = version.slice(0,version.indexOf('.'));
  var isLow = false;
  if(browserVersionInfo.chrome && majorVersion < 10) {
    isLow = true;
  }
  else if(browserVersionInfo.firefox && majorVersion < 10) {
    isLow = true;
  }
  else if(browserVersionInfo.safari && majorVersion < 6) {
    isLow = true;
  }
  if(isLow) {
    window.document.getElementById('currentVersion').textContent = browserName + ' ' + version;
    window.document.getElementById('browser-version-alert').setAttribute('class','force-alert fade');

    var loginForm = window.document.body.getElementsByTagName('form')[0];
    loginForm.parentNode.removeChild(loginForm);
  }

};
</script>
  </body>
</html>