<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
    <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
    <link href="/images/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="/stylesheets/eso-theme.css">
    <link rel="stylesheet" href="/stylesheets/project.css">
  </head>
  <body>
    <div id="wrapper">
        <!--TODO :href-->
      <header id="eso-topbar" class="clearfix"><a href="/" title="go back home" class="logo"></a><a href="#" target="_blank" class="eso-logo">Developed by cdkr</a>
      </header>
      <div class="help-content">
        <h1>Cantas Help Document</h1>
        <article>
          <section class="row-fluid">
            <div class="span6">
              <h2>Create your own board.</h2>
              <p>By clicking "New Board" button, you can create your own board. In this page, you can     iew all public/your own/closed boards.</p>
            </div>
            <div class="span6 help-img"></div>
          </section>
          <section class="row-fluid">
            <div class="span6 help-img"></div>
            <div class="span6">
              <h2>Create a new list.</h2>
              <p>By clicking "New List" button, you can create a new list, in which you can add cards.</p>
            </div>
          </section>
          <section class="row-fluid">
            <div class="span6">
              <h2>Add a new card.</h2>
              <p>By clicking "Add a card" button, you can add cards in any list. (You have had the     ermission to edit this board.)</p>
            </div>
            <div class="span6 help-img"></div>
          </section>
          <section class="row-fluid">
            <div class="span6 help-img"></div>
            <div class="span6">
              <h2>Set the board to a private board.</h2>
              <p>By clicking this icon, you can set the board to a private board.</p>
            </div>
          </section>
          <section class="row-fluid">
            <div class="span6">
              <h2>Invite others to board.</h2>
              <p>You can invite other people into the board. Thus they have permissions  to edit this     oard.</p>
            </div>
            <div class="span6 help-img"></div>
          </section>
          <section class="row-fluid">
            <div class="span6 help-img"></div>
            <div class="span6">
              <h2>View activities of this board.</h2>
              <p>You can view all activities of this board.</p>
            </div>
          </section>
          <section class="row-fluid">
            <div class="span6">
              <h2>Archive a list.</h2>
              <p>You can archive this list.</p>
            </div>
            <div class="span6 help-img"></div>
          </section>
          <section class="row-fluid">
            <div class="span6 help-img"></div>
            <div class="span6">
              <h2>Archive a card.</h2>
              <p>You can archive this card.</p>
            </div>
          </section>
          <section class="row-fluid">
            <div class="span6">
              <h2>Assign tasks to board members.</h2>
              <p>You can assign tasks to board members.</p>
            </div>
            <div class="span6 help-img"></div>
          </section>
          <section class="row-fluid">
            <div class="span6 help-img"></div>
            <div class="span6">
              <h2>View your notifications.</h2>
              <p>You can view your notifications such as tasks assigned to you, invitations to join     oards and so on.</p>
            </div>
          </section>
          <section class="row-fluid">
            <div class="span6">
              <h2>Add checklists for a card.</h2>
              <p>You can add checklists for a card.</p>
            </div>
            <div class="span6 help-img"></div>
          </section>
          <section class="row-fluid">
            <div class="span6 help-img"></div>
            <div class="span6">
              <h2>Add comments for a card.</h2>
              <p>You can add comments for a card.</p>
            </div>
          </section>
          <section class="row-fluid">
            <div class="span6">
              <h2>Move a list to other places.</h2>
              <p>You can move a list to other places.</p>
            </div>
            <div class="span6 help-img"></div>
          </section>
          <section class="row-fluid">
            <div class="span6 help-img"></div>
            <div class="span6">
              <h2>Move a card to other places.</h2>
              <p>You can move a card to other places.</p>
            </div>
          </section>
          <section class="row-fluid">
            <div class="span8">
              <h2>
                <p id="browserSupportMatrix">Browser Support Matrix</p>
              </h2>
              <table id="js-browser-support-matrix" class="eso-table">
                <thead>
                  <tr>
                    <th></th>
                    <th colspan="2">Chrome</th>
                    <th colspan="5">Firefox</th>
                    <th colspan="2">Safari</th>
                  </tr>
                  <tr>
                    <th></th>
                    <th colspan="2">TBD</th>
                    <th>3.6</th>
                    <th>4</th>
                    <th>10</th>
                    <th>17</th>
                    <th>24</th>
                    <th colspan="2">TBD</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>WebSockets</td>
                    <td></td>
                    <td></td>
                    <td>×</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>HTML5</td>
                    <td></td>
                    <td></td>
                    <td>√-</td>
                    <td>√-</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>CSS3</td>
                    <td></td>
                    <td></td>
                    <td>√-</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>ECMAScript 5</td>
                    <td></td>
                    <td></td>
                    <td>√-</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td>√</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              <p>Note: x(nonsupport), √-(partial support), √(widespread support). Chrome and Safari versions are to be determined.</p>
            </div>
          </section>
        </article>
      </div>
      <footer class="footer">
        <div class="hss-logo"></div>
        <div class="copyright">
            <!--TODO-->
          <p>INTERNAL USE ONLY</p>
          <p>Copyright &copy; 2013 Red Hat, Inc. All rights reserved.</p>
        </div>
      </footer>
    </div>
  </body>
</html>